.DS_Store
.idea
.python-version

dist
node_modules
npm-debug.log*
package-lock.json

src/backend/transcriber/.classpath
src/backend/transcriber/.factorypath
src/backend/transcriber/.project
src/backend/transcriber/.settings
src/backend/transcriber/bin
src/backend/transcriber/target

src/frontend/build
src/frontend/dist
src/frontend/public/settings.js

taskcat_outputs
templates
yarn.lock