<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" shutdownHook="disable">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.amazonaws.transcriber.Encoder" level="warn" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="${env:LOG_LEVEL:-INFO}">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>