* {
    box-sizing: border-box; 
    font: 12px sans-serif;
}
header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 512px;
    font: 12px sans-serif;
    background-color:lightgrey;
}
main {
    position: absolute;
    top: 0;
    bottom: 64px;
    left: 512px;
    right: 0;
    padding: 1em;
    overflow-y: scroll;
}
footer {
    position: absolute;
    bottom: 0;
    left: 512px;
    right: 0;
    height: 64px;
    font: 12px sans-serif;
    background-color: lightgrey;
}

header video {
    width: 512px;
    height: 288px;
}

header table {
    font: 12px monospace;
}
header table.info {
    width: 100%;
}
header table.info thead th {
    text-align: center;
}
header table.info tbody th {
    text-align: right;
    width: 1%;
    white-space: nowrap;
}
header table.info tbody td {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}


#transcription * {
    font: 32px monospace;
}
#transcription .partial {
    color: gray;
}
#transcription .alternative:not:first-child {
    display: none;
}
#transcription .result:hover {
    background-color: rgb(212, 255, 212);
}
#transcription .item:hover {
    background-color: rgb(255, 255, 212);
}